


#header {
    background: #1c1c1c;
    color: #d5d5d5;
    cursor: default;
    height: 5em;
    left: 0;
    line-height: 5em;
    position: fixed;
    text-align: right;
    top: 0;
    width: 100%;
    z-index: 10001;
}

#header .logo {
	font-family: 'Pacifico', cursive;
	display: inline-block;
	height: inherit;
	left: 0;
	line-height: inherit;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	color: #e5474b;
	font-size: 1.75em;
	text-transform: none;
	font-weight: normal;
	padding: 0;
}

#header .inner {
    max-width: 65em;
    width: calc(100% - 6em);
    margin: 0 auto;
    position: relative;
}

#nav {
    display: inline-block;
}
